In [1]:
from datetime import datetime

In [8]:
dt = datetime(2023, 4, 24, 13, 5, 40, 123456)
print(dt, type(dt))

2023-04-24 13:05:40.123456 <class 'datetime.datetime'>

In [7]:
dabar = datetime.now()
print(dabar)

2023-04-24 13:06:03.729917

In [9]:
from datetime import date
siandien = date.today()
print(siandien)

2023-04-24

In [10]:
mano_gimtadienis = date(1983, 3, 19)
print(mano_gimtadienis)

1983-03-19

In [12]:
amzius = siandien - mano_gimtadienis
print(amzius, type(amzius))

14646 days, 0:00:00 <class 'datetime.timedelta'>

In [13]:
print(amzius.days / 365.25)

40.09856262833676

In [14]:
from datetime import timedelta
uz_penkiu_min = datetime.now() + timedelta(minutes=5)
print(uz_penkiu_min)

2023-04-24 13:16:13.764693

In [15]:
valanda = timedelta(hours=1)
print(valanda)

1:00:00

In [16]:
print(valanda + timedelta(minutes=-30))

0:30:00

In [19]:
print(dabar.strftime("%Y %m %d %H:%M"))

2023 04 24 13:06

In [24]:
tekstine_data = "2023-04-01"
objektine_data = datetime.strptime(tekstine_data, "%Y-%m-%d")
print(objektine_data, type(objektine_data))
print(objektine_data.date(), type(objektine_data.date()))

2023-04-01 00:00:00 <class 'datetime.datetime'>
2023-04-01 <class 'datetime.date'>

In [25]:
print(dabar.strftime("%A"))

Monday

In [32]:
import time

print(dabar)
laiko_zyme = time.mktime(dabar.timetuple())
laiko_zyme = float(f"{int(laiko_zyme)}.{dabar.microsecond}")
print(laiko_zyme)

2023-04-24 13:06:03.729917
1682330763.729917

In [33]:
naujas_dabar = datetime.fromtimestamp(laiko_zyme)
print(naujas_dabar)

2023-04-24 13:06:03.729917