## sukuriam lenteles

In [31]:
import sqlite3
conn = sqlite3.connect("zmones.db")
c = conn.cursor()

In [10]:
create_query = """CREATE TABLE IF NOT EXISTS draugai (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    email VARCHAR(100)
);"""

In [11]:
drop_query = """DROP TABLE draugai;"""
# c.execute(drop_query)
# conn.commit()

In [12]:
c.execute(create_query)
conn.commit()

In [21]:
insert_friend_query = '''INSERT INTO draugai 
    (first_name, last_name, email)
    VALUES ("Milda", "Auglyte", "milda@tesla.com");
'''

In [15]:
c.execute(insert_friend_query)
conn.commit()

In [22]:
with conn:
    c.execute(insert_friend_query)

In [23]:
with conn:
    c.execute("SELECT * FROM draugai")
    print(c.fetchall())

[(1, 'Elon', 'Musk', 'elon@tesla.com'), (2, 'Elon', 'Musk', 'elon@tesla.com'), (3, 'Elon', 'Musk', 'elon@tesla.com'), (4, 'Arnas', 'Bolisas', 'arnas@tesla.com'), (5, 'Andrius', 'Gedvilas', 'andrius@tesla.com'), (6, 'Milda', 'Auglyte', 'milda@tesla.com')]

In [29]:
with conn:
    c.execute("SELECT * FROM draugai")
    print(c.fetchone())
    print(c.fetchone())
    print(c.fetchone())

(1, 'Elon', 'Musk', 'elon@tesla.com')
(4, 'Arnas', 'Bolisas', 'arnas@tesla.com')
(5, 'Andrius', 'Gedvilas', 'andrius@tesla.com')

In [28]:
with conn:
    c.execute("SELECT * FROM draugai")
    while True:
        row = c.fetchone()
        if not row:
            break
        print(row)

(1, 'Elon', 'Musk', 'elon@tesla.com')
(4, 'Arnas', 'Bolisas', 'arnas@tesla.com')
(5, 'Andrius', 'Gedvilas', 'andrius@tesla.com')
(6, 'Milda', 'Auglyte', 'milda@tesla.com')

In [27]:
with conn:
    c.execute("DELETE FROM draugai WHERE id IN (2, 3)")

In [30]:
c.close()

In [32]:
nauji_draugai = [
    ("Karolis", "Tamulevičius", "karolis.t@tesla.com"),
    ("Karolis", "Jasadavičius", "karolis.j@tesla.com"),
    ("Karolis", "Venckus", "karolis.v@tesla.com"),
]
with conn:
    c.executemany("""INSERT INTO draugai 
        (first_name, last_name, email) VALUES (?, ?, ?)""", 
        nauji_draugai)