## pagalbines listu funkcijos

In [86]:
from functools import reduce

skaiciai = [7, 4, 11, 4, -17, 2, 4, 6, 9, 7, 2, 4, 2, 6, 4, 12, -3, 15, 2, 2, 27]
suma = lambda pirmas, antras: pirmas + antras

In [87]:
def suma2(pirmas, antras):
    return pirmas + antras

In [88]:
suma2(7, 4)

11

In [89]:
saraso_suma = reduce(suma, skaiciai)
print(saraso_suma)

110

In [90]:
didziausias = lambda pirmas, antras: pirmas if pirmas > antras else antras
print(didziausias(5, 11))

11

In [91]:
def didziausias2(pirmas, antras):
    if pirmas > antras:
        return pirmas
    else:
        return antras
print(didziausias2(17, 9))

17

In [92]:
max_skaicius = reduce(didziausias, skaiciai)
print(max_skaicius)

27

In [93]:
odd_even = lambda skaicius: 'even' if skaicius % 2 == 0 else 'odd'
print(3, odd_even(3), 8, odd_even(8))

3 odd 8 even

In [94]:
print(skaiciai)
print(list(map(odd_even, skaiciai)))

[7, 4, 11, 4, -17, 2, 4, 6, 9, 7, 2, 4, 2, 6, 4, 12, -3, 15, 2, 2, 27]
['odd', 'even', 'odd', 'even', 'odd', 'even', 'even', 'even', 'odd', 'odd', 'even', 'even', 'even', 'even', 'even', 'even', 'odd', 'odd', 'even', 'even', 'odd']

In [95]:
keliamieji = lambda metai: True if metai % 4 == 0 and metai % 100 != 0 or metai % 400 == 0 else False
print(list(filter(keliamieji, range(1900, 2101))))

[1904, 1908, 1912, 1916, 1920, 1924, 1928, 1932, 1936, 1940, 1944, 1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016, 2020, 2024, 2028, 2032, 2036, 2040, 2044, 2048, 2052, 2056, 2060, 2064, 2068, 2072, 2076, 2080, 2084, 2088, 2092, 2096]

In [96]:
sum(skaiciai)

110

In [97]:
min(skaiciai)

-17

In [98]:
max(skaiciai)

27

In [99]:
from statistics import mean, median, mode
mean(skaiciai)

5.238095238095238

In [100]:
from math import pi
pi

3.141592653589793

In [101]:
median(skaiciai)

4

In [102]:
mode(skaiciai)

4

In [103]:
print(skaiciai.count(2), skaiciai.count(4))

5 5

In [108]:
skaiciai.sort()
print(skaiciai)

[-17, -3, 2, 2, 2, 2, 2, 4, 4, 4, 4, 4, 6, 6, 7, 7, 9, 11, 12, 15, 27]

In [106]:
skaiciai.sort(reverse=True)
print(skaiciai)

[27, 15, 12, 11, 9, 7, 7, 6, 6, 4, 4, 4, 4, 4, 2, 2, 2, 2, 2, -3, -17]

In [109]:
skaiciai.sort(key=odd_even)
print(skaiciai)

[2, 2, 2, 2, 2, 4, 4, 4, 4, 4, 6, 6, 12, -17, -3, 7, 7, 9, 11, 15, 27]

In [111]:
atbulinis = sorted(skaiciai, reverse=True)
print(atbulinis)
print(skaiciai)

[27, 15, 12, 11, 9, 7, 7, 6, 6, 4, 4, 4, 4, 4, 2, 2, 2, 2, 2, -3, -17]
[2, 2, 2, 2, 2, 4, 4, 4, 4, 4, 6, 6, 12, -17, -3, 7, 7, 9, 11, 15, 27]

In [125]:
class Vehicle():
    def __init__(self, make:str, model:str, year:int, hp:int, drag_times=[]) -> None:
        self.make = make
        self.model = model
        self.year = year
        self.hp = hp
        self.drag_times = drag_times

    def __str__(self) -> str:
        return f"{self.make} {self.model} {self.year}, {self.hp}hp"
    
    def __repr__(self) -> str:
        return f"({self.make}, {self.model}, {self.year}, {self.hp})"
    
    @property
    def drag_average(self) -> float:
        return mean(self.drag_times)

    
vehicles = [
    Vehicle("Volkswagen", "Golf", 1997, 90, [19.11, 20.01, 19.55, 19.37]),
    Vehicle("Tesla", "Model S Plaid", 2023, 1100, [9.7, 9.66, 9.42, 9.25]),
    Vehicle("Tesla", "Model 3", 2021, 364, [12.59, 12.66, 12.97, 13.15]),
    Vehicle("Ford", "Mustang", 1964, 233, [14.55, 14.75, 15.33]),
]

pagal_metus = sorted(vehicles, key=lambda vehicle: vehicle.year)
print(pagal_metus)
pagal_draga = sorted(vehicles, key=lambda vehicles: vehicles.drag_average)
print(pagal_draga)
for vehicle in vehicles:
    print(f"{vehicle}: {vehicle.drag_average:g}")

[(Ford, Mustang, 1964, 233), (Volkswagen, Golf, 1997, 90), (Tesla, Model 3, 2021, 364), (Tesla, Model S Plaid, 2023, 1100)]
[(Tesla, Model S Plaid, 2023, 1100), (Tesla, Model 3, 2021, 364), (Ford, Mustang, 1964, 233), (Volkswagen, Golf, 1997, 90)]
Volkswagen Golf 1997, 90hp: 19.51
Tesla Model S Plaid 2023, 1100hp: 9.5075
Tesla Model 3 2021, 364hp: 12.8425
Ford Mustang 1964, 233hp: 14.8767

In [126]:
from operator import attrgetter
pagal_hp = sorted(vehicles, key=attrgetter('hp'))
print(pagal_hp)

[(Volkswagen, Golf, 1997, 90), (Ford, Mustang, 1964, 233), (Tesla, Model 3, 2021, 364), (Tesla, Model S Plaid, 2023, 1100)]

In [127]:
pagal_pavadinima = sorted(vehicles, key=attrgetter('make', 'model'))
print(pagal_pavadinima)

[(Ford, Mustang, 1964, 233), (Tesla, Model 3, 2021, 364), (Tesla, Model S Plaid, 2023, 1100), (Volkswagen, Golf, 1997, 90)]

## list comprehension

## iteratoriai

## generatoriai