## Variables

In [ ]:
vienas, du, trys = 1, 2, 3
print(vienas, du, trys)

In [ ]:
Vienas = "vienetukas"
print(Vienas)
print(vienas)

In [ ]:
x = 5
y = "Hello, world!"
z = 3.14
print(type(x))  # išspausdina <class 'int'>
print(type(y))  # išspausdina <class 'str'>
print(type(z))  # išspausdina <class 'float'>

In [1]:
pirmas = 10
antras = 5
print(pirmas, antras)
pirmas = antras
antras = 7
print(pirmas, antras)

10 5
5 7

In [2]:
pusantro = 1.5
sesi = pusantro * 4
print(sesi, type(sesi))

6.0 <class 'float'>

## Basic Logic

In [4]:
a = 10
b = 10
if a == b:
    print("a ir b yra lygūs")
else:
    print("a ir b nėra lygūs")

a ir b yra lygūs

In [6]:
c = a == b
c

True

In [11]:
a = 10
b = 10
if a != b:
    print("a ir b yra nelygūs")
else:
    print("a ir b yra lygūs")

a ir b yra lygūs

In [12]:
print(a != b)

False

In [17]:
a = 10
b = 10
if b < a:
    print("b yra mažesnis nei a")
else:
    print("b yra didesnis arba lygus a")

b yra didesnis arba lygus a

In [18]:
print(b <= a)

True

In [19]:
x = True
y = False

print(x) # išvestų "True"
print(y) # išvestų "False"

True
False

In [20]:
a = 10
b = 5
teiginys = a > b
print(teiginys)

True

In [21]:
if teiginys:
    print("a yra didesnis už b")
else:
    print("a yra mažesnis arba lygus b")

# pasitikrinimui
print(f"teiginys: {teiginys}")

a yra didesnis už b
teiginys: True

In [24]:
type(teiginys)

bool

In [25]:
True == 1

True

In [26]:
False == 0

True

In [27]:
True == False

False

In [28]:
True != False

True

In [29]:
True > False

True

In [30]:
True < False

False

In [31]:
skaicius = 17
kitas = 0

In [33]:
if skaicius:
    print("suveike")

suveike

In [34]:
if kitas:
    print("suveike")
else:
    print("oops")

oops

In [38]:
kitas = 3
print(skaicius and kitas)

3

In [40]:
kitas = False
if skaicius and kitas:
    print("abu skaiciai yra")
else:
    print("Kazko truksta")

Kazko truksta

In [42]:
kitas = False
if skaicius or kitas:
    print("bent vienas skaicius yra OK")
else:
    print("Kazko truksta")

bent vienas skaicius yra OK

In [37]:
print(kitas or skaicius)

17

In [43]:
a = 10
b = 5
if a > 5 and b < 10:
    print("Abu teiginiai yra tiesa")
else:
    print("Vienas ar abu teiginiai yra netiesa")

Abu teiginiai yra tiesa

In [44]:
True and False

False

In [45]:
False and False

False

In [46]:
True and True

True

In [47]:
False or True

True

In [48]:
True or True

True

In [52]:
not (False and False)

True

In [53]:
not False and True

True

In [54]:
not True and True

False

In [55]:
not True or True

True

In [63]:
a = 10
b = 5
c = 20
d = a > b and b < c or c != 20
d

True

In [66]:
a = 5
# a *= 5
a /= 5
a

1.0

In [67]:
2 ** 16

65536

In [68]:
18 ** 3

5832

In [70]:
kisene = 0.01
palukanos = 0.01
po_minutes = kisene * (1 + palukanos)
po_minutes

0.0101

In [71]:
dienoj_minuciu = 24 * 60
dienoj_minuciu

1440

In [77]:
kisene = 0.01
palukanos = 0.01
for minute in range(dienoj_minuciu * 2):
    kisene *= 1 + palukanos
    # kisene = kisene * (1 + palukanos)
kisene

27896935223.95062

## Stringuliai

In [78]:
pasisveikinimas = 'Labas, pasauli!'
klausimas = "Kaip sekasi?"

In [79]:
print(pasisveikinimas)
print(klausimas)

Labas, pasauli!
Kaip sekasi?

In [80]:
print(pasisveikinimas[4])

s

In [81]:
print(pasisveikinimas[-1])

!

In [83]:
rytinis = pasisveikinimas[:5] + " rytas" + pasisveikinimas[5:]
print(rytinis)

Labas rytas, pasauli!

In [89]:
vardai = ["Jonas", "Petras", "Zosė", "Kodžius"]
for vardas in vardai:
    pasisveikinimas = "Sveikas"
    if vardas.endswith("as"):
        vardas = vardas[:-2] + "ai"
    elif vardas.endswith("ius"):
        vardas = vardas[:-2] + "au"
    elif vardas.endswith("ė"):
        vardas = vardas[:-1] + "e"
        pasisveikinimas = pasisveikinimas[:-1]
    print(f"{pasisveikinimas}, {vardas}")

Sveikas, Jonai
Sveikas, Petrai
Sveika, Zose
Sveikas, Kodžiau

In [91]:
tekstas = "Vienoje eiluteje\ndar viena eilute"
print(tekstas)

Vienoje eiluteje
dar viena eilute

In [93]:
antraste = "Nr.\tVardas\tPinigai"
pirma = "1\tKestas\t1000"
antra = "2\tRomualdas\t400"
print(antraste, pirma, antra, sep="\n")

Nr.	Vardas	Pinigai
1	Kestas	1000
2	Romualdas	400

In [100]:
pinigai = [1000, 400, 0.50, 99000.01]
print(f"{'Nr.':3s} | {'vardas':30s} | {'pinigai':10s}")
for numeris in range(4):
    print(f"{numeris+1:>3d} | {vardai[numeris]:30s} | {pinigai[numeris]:10.2f}")

Nr. | vardas                         | pinigai
  1 | Jonas                          |    1000.00
  2 | Petras                         |     400.00
  3 | Zosė                           |       0.50
  4 | Kodžius                        |   99000.01

In [101]:
print("\u00A9 2023 Middle of Nowhere oy")

© 2023 Middle of Nowhere oy

In [102]:
sirdele = "\U0001F9E1"
print(sirdele)

🧡