## Variables

In [924]:
vienas, du, trys = 1, 2, 3
print(vienas, du, trys)

1 2 3

In [925]:
Vienas = "vienetukas"
print(Vienas)
print(vienas)

vienetukas
1

In [926]:
x = 5
y = "Hello, world!"
z = 3.14
print(type(x))  # išspausdina <class 'int'>
print(type(y))  # išspausdina <class 'str'>
print(type(z))  # išspausdina <class 'float'>

<class 'int'>
<class 'str'>
<class 'float'>

In [927]:
pirmas = 10
antras = 5
print(pirmas, antras)
pirmas = antras
antras = 7
print(pirmas, antras)

10 5
5 7

In [928]:
pusantro = 1.5
sesi = pusantro * 4
print(sesi, type(sesi))

6.0 <class 'float'>

## Basic Logic

In [929]:
a = 10
b = 10
if a == b:
    print("a ir b yra lygūs")
else:
    print("a ir b nėra lygūs")

a ir b yra lygūs

In [930]:
c = a == b
c

True

In [931]:
a = 10
b = 10
if a != b:
    print("a ir b yra nelygūs")
else:
    print("a ir b yra lygūs")

a ir b yra lygūs

In [932]:
print(a != b)

False

In [933]:
a = 10
b = 10
if b < a:
    print("b yra mažesnis nei a")
else:
    print("b yra didesnis arba lygus a")

b yra didesnis arba lygus a

In [934]:
print(b <= a)

True

In [935]:
x = True
y = False

print(x) # išvestų "True"
print(y) # išvestų "False"

True
False

In [936]:
a = 10
b = 5
teiginys = a > b
print(teiginys)

True

In [937]:
if teiginys:
    print("a yra didesnis už b")
else:
    print("a yra mažesnis arba lygus b")

# pasitikrinimui
print(f"teiginys: {teiginys}")

a yra didesnis už b
teiginys: True

In [938]:
type(teiginys)

bool

In [939]:
True == 1

True

In [940]:
False == 0

True

In [941]:
True == False

False

In [942]:
True != False

True

In [943]:
True > False

True

In [944]:
True < False

False

In [945]:
skaicius = 17
kitas = 0

In [946]:
if skaicius:
    print("suveike")

suveike

In [947]:
if kitas:
    print("suveike")
else:
    print("oops")

oops

In [948]:
kitas = 3
print(skaicius and kitas)

3

In [949]:
kitas = False
if skaicius and kitas:
    print("abu skaiciai yra")
else:
    print("Kazko truksta")

Kazko truksta

In [950]:
kitas = False
if skaicius or kitas:
    print("bent vienas skaicius yra OK")
else:
    print("Kazko truksta")

bent vienas skaicius yra OK

In [951]:
print(kitas or skaicius)

17

In [952]:
a = 10
b = 5
if a > 5 and b < 10:
    print("Abu teiginiai yra tiesa")
else:
    print("Vienas ar abu teiginiai yra netiesa")

Abu teiginiai yra tiesa

In [953]:
True and False

False

In [954]:
False and False

False

In [955]:
True and True

True

In [956]:
False or True

True

In [957]:
True or True

True

In [958]:
not (False and False)

True

In [959]:
not False and True

True

In [960]:
not True and True

False

In [961]:
not True or True

True

In [962]:
a = 10
b = 5
c = 20
d = a > b and b < c or c != 20
d

True

In [963]:
a = 5
# a *= 5
a /= 5
a

1.0

In [964]:
2 ** 16

65536

In [965]:
18 ** 3

5832

In [966]:
kisene = 0.01
palukanos = 0.01
po_minutes = kisene * (1 + palukanos)
po_minutes

0.0101

In [967]:
dienoj_minuciu = 24 * 60
dienoj_minuciu

1440

In [968]:
kisene = 0.01
palukanos = 0.01
for minute in range(dienoj_minuciu * 2):
    kisene *= 1 + palukanos
    # kisene = kisene * (1 + palukanos)
kisene

27896935223.95062

## Stringuliai

In [969]:
pasisveikinimas = 'Labas, pasauli!'
klausimas = "Kaip sekasi?"

In [970]:
print(pasisveikinimas)
print(klausimas)

Labas, pasauli!
Kaip sekasi?

In [971]:
print(pasisveikinimas[4])

s

In [972]:
print(pasisveikinimas[-1])

!

In [973]:
rytinis = pasisveikinimas[:5] + " rytas" + pasisveikinimas[5:]
print(rytinis)

Labas rytas, pasauli!

In [974]:
vardai = ["Jonas", "Petras", "Zosė", "Kodžius"]
for vardas in vardai:
    pasisveikinimas = "Sveikas"
    if vardas.endswith("as"):
        vardas = vardas[:-2] + "ai"
    elif vardas.endswith("ius"):
        vardas = vardas[:-2] + "au"
    elif vardas.endswith("ė"):
        vardas = vardas[:-1] + "e"
        pasisveikinimas = pasisveikinimas[:-1]
    print(f"{pasisveikinimas}, {vardas}")

Sveikas, Jonai
Sveikas, Petrai
Sveika, Zose
Sveikas, Kodžiau

In [975]:
tekstas = "Vienoje eiluteje\ndar viena eilute"
print(tekstas)

Vienoje eiluteje
dar viena eilute

In [976]:
antraste = "Nr.\tVardas\tPinigai"
pirma = "1\tKestas\t1000"
antra = "2\tRomualdas\t400"
print(antraste, pirma, antra, sep="\n")

Nr.	Vardas	Pinigai
1	Kestas	1000
2	Romualdas	400

In [977]:
pinigai = [1000, 400, 0.50, 99000.01]
print(f"{'Nr.':3s} | {'vardas':30s} | {'pinigai':10s}")
for numeris in range(4):
    print(f"{numeris+1:>3d} | {vardai[numeris]:30s} | {pinigai[numeris]:10.2f}")

Nr. | vardas                         | pinigai
  1 | Jonas                          |    1000.00
  2 | Petras                         |     400.00
  3 | Zosė                           |       0.50
  4 | Kodžius                        |   99000.01

In [978]:
print("\u00A9 2023 Middle of Nowhere oy")

© 2023 Middle of Nowhere oy

In [979]:
sirdele = "\U0001F9E1"
print(sirdele)

🧡

### String metodai

In [980]:
sakinys = "Sveiki vyrai!"
sakinys

'Sveiki vyrai!'

In [981]:
sakinys.upper()

'SVEIKI VYRAI!'

In [982]:
sakinys_mazosiomis = sakinys.lower()
sakinys_mazosiomis

'sveiki vyrai!'

In [983]:
vaisiai = ["obuolys", "braškė", "vynuogė", "vynuogė", "bananas", "vynuogė", "kiwi", "braškė", "marakuja", "apelsinas", "ananasas", "vynuogė"]
vaisiai

['obuolys',
 'braškė',
 'vynuogė',
 'vynuogė',
 'bananas',
 'vynuogė',
 'kiwi',
 'braškė',
 'marakuja',
 'apelsinas',
 'ananasas',
 'vynuogė']

In [984]:
print(";\n".join(vaisiai))

obuolys;
braškė;
vynuogė;
vynuogė;
bananas;
vynuogė;
kiwi;
braškė;
marakuja;
apelsinas;
ananasas;
vynuogė

In [985]:
sunumeruoti_vaisiai = []
for nr, vaisius in enumerate(vaisiai):
    sunumeruoti_vaisiai.append(f'{nr + 1}: {vaisius}')
vaisiu_salotos = "\n".join(sunumeruoti_vaisiai)
print(vaisiu_salotos)

1: obuolys
2: braškė
3: vynuogė
4: vynuogė
5: bananas
6: vynuogė
7: kiwi
8: braškė
9: marakuja
10: apelsinas
11: ananasas
12: vynuogė

In [986]:
salotu_vaisiai = vaisiu_salotos.split('\n')
salotu_vaisiai

['1: obuolys',
 '2: braškė',
 '3: vynuogė',
 '4: vynuogė',
 '5: bananas',
 '6: vynuogė',
 '7: kiwi',
 '8: braškė',
 '9: marakuja',
 '10: apelsinas',
 '11: ananasas',
 '12: vynuogė']

In [987]:
teisingi_vaisiai = []
for vaisius in salotu_vaisiai:
    teisingi_vaisiai.append(vaisius.split(": ")[1])
print(teisingi_vaisiai)

['obuolys', 'braškė', 'vynuogė', 'vynuogė', 'bananas', 'vynuogė', 'kiwi', 'braškė', 'marakuja', 'apelsinas', 'ananasas', 'vynuogė']

In [988]:
for indeksas, vaisius in enumerate(salotu_vaisiai):
    salotu_vaisiai[indeksas] = vaisius[3:].strip()
print(salotu_vaisiai)

['obuolys', 'braškė', 'vynuogė', 'vynuogė', 'bananas', 'vynuogė', 'kiwi', 'braškė', 'marakuja', 'apelsinas', 'ananasas', 'vynuogė']

In [989]:
print(vaisiu_salotos.title())

1: Obuolys
2: Braškė
3: Vynuogė
4: Vynuogė
5: Bananas
6: Vynuogė
7: Kiwi
8: Braškė
9: Marakuja
10: Apelsinas
11: Ananasas
12: Vynuogė

In [990]:
print(vaisiai[3].capitalize())

Vynuogė

In [991]:
sakinys.title()

'Sveiki Vyrai!'

In [992]:
vaisiu_salotos.find("š")

17

In [993]:
if vaisiu_salotos.find("1") >= 0:
    print("Radau 1")
else:
    print("Neradau 1")

Radau 1

In [994]:
naujos_salotos = vaisiu_salotos.replace("vynuogė", "vyšnia", 2)
print(naujos_salotos)

1: obuolys
2: braškė
3: vyšnia
4: vyšnia
5: bananas
6: vynuogė
7: kiwi
8: braškė
9: marakuja
10: apelsinas
11: ananasas
12: vynuogė

In [995]:
naujos_salotos = vaisiu_salotos.replace(":", ".")
print(naujos_salotos)

1. obuolys
2. braškė
3. vynuogė
4. vynuogė
5. bananas
6. vynuogė
7. kiwi
8. braškė
9. marakuja
10. apelsinas
11. ananasas
12. vynuogė

### Formataviams

In [996]:
tekstas = "Vaisiai: " + vaisiai[0] + ", " + vaisiai[5] + "..."
print(tekstas)

Vaisiai: obuolys, vynuogė...

In [997]:
ataskaita = "Viso vaisių: " + str(len(vaisiai))
print(ataskaita)

Viso vaisių: 12

In [998]:
kitos_salotos = f"Vaisiai: {vaisiai[0]}, {vaisiai[3]}, {vaisiai[7]}..."
print(kitos_salotos)

Vaisiai: obuolys, vynuogė, braškė...

In [999]:
vardas = "Kestutis"
amzius = 40

tekstas = "Sveiki, mano vardas yra %s ir man yra %d metų." % (vardas, amzius)
print(tekstas)

Sveiki, mano vardas yra Kestutis ir man yra 40 metų.

In [1000]:
tekstas = "Vaisiai: {0}, {2}, {1}, {0}...".format(vaisiai[0], vaisiai[1], vaisiai[2])
print(tekstas)

Vaisiai: obuolys, vynuogė, braškė, obuolys...

In [1001]:
tekstas = "Vaisiai: {0}, {2}, {1}, {0}...".format(*vaisiai[5:8])
print(tekstas)

Vaisiai: vynuogė, braškė, kiwi, vynuogė...

In [1002]:
labai_daug_pinigu = 456823991.777
suformatuoti_pinigai = f"Mano sąskaitoje yra: {labai_daug_pinigu:,.2f}"
print(suformatuoti_pinigai)

Mano sąskaitoje yra: 456,823,991.78

In [1003]:
print(f"{labai_daug_pinigu:g}")

4.56824e+08

In [1004]:
nelabai_daug = 7777.7575150051515
print(f"{nelabai_daug:g}")

7777.76

In [1005]:
absoliutus_nulis = float(0)
print(absoliutus_nulis)
print(f"{absoliutus_nulis:g}")

0.0
0

In [1006]:
skaiciai = [77.5, 100.9, 1.05, 3541.777]
for skaicius in skaiciai:
    print(f"{skaicius:9.1f}")

     77.5
    100.9
      1.1
   3541.8

In [1007]:
kodai = [123, 7711, 2]
for kodas in kodai:
    print(f"{kodas:04d}")

0123
7711
0002

In [1008]:
skaiciai = [77.5, 100.9, 1.05, 3541.777]
for skaicius in skaiciai:
    print(f"{skaicius:^9.1f} | kazkas dar")

  77.5    | kazkas dar
  100.9   | kazkas dar
   1.1    | kazkas dar
 3541.8   | kazkas dar

In [1009]:
skaiciai = [77.5, 100.9, 1.05, 3541.777]
for skaicius in skaiciai:
    print(f"{skaicius:<9.1f} | kazkas dar")

77.5      | kazkas dar
100.9     | kazkas dar
1.1       | kazkas dar
3541.8    | kazkas dar

### input

In [1010]:
# skaicius = float(input("Duokite skaičių: "))
# print(f"Jūsų skaičius: {skaicius:g}")

In [1011]:
print(*vaisiai, sep=', ', end="...")

obuolys, braškė, vynuogė, vynuogė, bananas, vynuogė, kiwi, braškė, marakuja, apelsinas, ananasas, vynuogė...

In [1012]:
print(*vaisiai)

obuolys braškė vynuogė vynuogė bananas vynuogė kiwi braškė marakuja apelsinas ananasas vynuogė

## kalkuliatorius

In [1013]:
# print("Sveiki atvykę į interaktyvų skaičiuotuvą!")
# print("Pasirinkite veiksmą, kuriuo norite atlikti su dviem skaičiais:")
# print("1 - Sudėtis")
# print("2 - Atimtis")
# print("3 - Daugyba")
# print("4 - Dalyba")

# pasirinkimas = input("Pasirinkite: ")
# skaicius1 = float(input("Pirmas skai2ius: "))
# skaicius2 = float(input("Antras skai2ius: "))

# if pasirinkimas == "1":
#     suma = skaicius1 + skaicius2
#     print(f"Suma: {suma:10.2f}")
# elif pasirinkimas == "2":
#     skirtumas = skaicius1 - skaicius2
#     print(f"Skitrumas: {skirtumas:10.2f}")
# elif pasirinkimas == "3":
#     sandauga = skaicius1 * skaicius2
#     print(f"Sandauga: {sandauga:10.2f}")
# elif pasirinkimas == "4":
#     dalmuo = skaicius1 / skaicius2
#     print(f"Dalmuo: {dalmuo:10.2f}")
# else:
#     print(f"Klaida: {pasirinkimas} n4ra teisingas pasirinkimas")

## Sąrašai / lists

In [1014]:
tuscias_sarasas = list()
skaiciu_sarasas = [1, 2, 3, 4, 5]
zodziu_sarasas = ['obuolys', 'kriaušė', 'bananas']
misrus_sarasas = ['obuolys', 2, 1.4, 'kriaušė', True, 'bananas']
print(tuscias_sarasas)

[]

In [1015]:
zodziu_sarasas[1]

'kriaušė'

In [1016]:
misrus_sarasas[-2]

True

In [1017]:
type(misrus_sarasas)

list

In [1018]:
type(misrus_sarasas[-2])

bool

In [1019]:
vaisiai[5:8]

['vynuogė', 'kiwi', 'braškė']

In [1020]:
vaisiai[:7]

['obuolys', 'braškė', 'vynuogė', 'vynuogė', 'bananas', 'vynuogė', 'kiwi']

In [1021]:
vaisiai[::-3]

['vynuogė', 'marakuja', 'vynuogė', 'vynuogė']

In [1022]:
vaisiai[3] = 'kriaušė'
vaisiai

['obuolys',
 'braškė',
 'vynuogė',
 'kriaušė',
 'bananas',
 'vynuogė',
 'kiwi',
 'braškė',
 'marakuja',
 'apelsinas',
 'ananasas',
 'vynuogė']

In [1023]:
vaisiai[5:7] = ['persimonas', 'avokadas', 'žemuogė', 'kiwi', 'bruknė']
print(*vaisiai, sep=', ')
print(", ".join(vaisiai))

obuolys, braškė, vynuogė, kriaušė, bananas, persimonas, avokadas, žemuogė, kiwi, bruknė, braškė, marakuja, apelsinas, ananasas, vynuogė
obuolys, braškė, vynuogė, kriaušė, bananas, persimonas, avokadas, žemuogė, kiwi, bruknė, braškė, marakuja, apelsinas, ananasas, vynuogė

In [1024]:
vaisiai.append('kokosas')

In [1025]:
print(", ".join(vaisiai))

obuolys, braškė, vynuogė, kriaušė, bananas, persimonas, avokadas, žemuogė, kiwi, bruknė, braškė, marakuja, apelsinas, ananasas, vynuogė, kokosas

In [1026]:
darzoves = ['morka', 'rabarbaras', 'čiliukas', 'ropė']
vaisiai.extend(darzoves)
print(*vaisiai)

obuolys braškė vynuogė kriaušė bananas persimonas avokadas žemuogė kiwi bruknė braškė marakuja apelsinas ananasas vynuogė kokosas morka rabarbaras čiliukas ropė

In [1027]:
vaisiai.insert(7, 'lime')
print(*vaisiai, end="\n\n\n")

obuolys braškė vynuogė kriaušė bananas persimonas avokadas lime žemuogė kiwi bruknė braškė marakuja apelsinas ananasas vynuogė kokosas morka rabarbaras čiliukas ropė

In [1028]:
vaisiai.remove('lime')
vaisiai

['obuolys',
 'braškė',
 'vynuogė',
 'kriaušė',
 'bananas',
 'persimonas',
 'avokadas',
 'žemuogė',
 'kiwi',
 'bruknė',
 'braškė',
 'marakuja',
 'apelsinas',
 'ananasas',
 'vynuogė',
 'kokosas',
 'morka',
 'rabarbaras',
 'čiliukas',
 'ropė']

In [1029]:
# while True:
#     try:
#         vaisiai.remove('braškė')
#         print('išbemėm vieną braškę')
#     except Exception as e:
#         print('nebėra:', e)
#         break

In [1030]:
while 'braškė' in vaisiai:
    vaisiai.remove('braškė')
print(vaisiai)

['obuolys', 'vynuogė', 'kriaušė', 'bananas', 'persimonas', 'avokadas', 'žemuogė', 'kiwi', 'bruknė', 'marakuja', 'apelsinas', 'ananasas', 'vynuogė', 'kokosas', 'morka', 'rabarbaras', 'čiliukas', 'ropė']

In [1031]:
print(vaisiai.pop(4))
print(vaisiai)

persimonas
['obuolys', 'vynuogė', 'kriaušė', 'bananas', 'avokadas', 'žemuogė', 'kiwi', 'bruknė', 'marakuja', 'apelsinas', 'ananasas', 'vynuogė', 'kokosas', 'morka', 'rabarbaras', 'čiliukas', 'ropė']

In [1032]:
# del vaisiai[3:-3]
# vaisiai

In [1033]:
indeksas = 0
while True:
    try:
        indeksas = vaisiai.index('vynuogė', indeksas+1)
        print(indeksas)
    except Exception as e:
        print(e)
        break

1
11
'vynuogė' is not in list

In [1034]:
for vaisius in vaisiai:
    print(vaisius)
    if vaisius == 'avokadas':
        break

obuolys
vynuogė
kriaušė
bananas
avokadas

In [1035]:
vaisiai.count('vynuogė')

2

In [1036]:
len(vaisiai)

17

In [1037]:
# vaisiai.sort()
# print(vaisiai)

In [1038]:
# vaisiai.sort(reverse=True)
# print(*vaisiai)

In [1039]:
vaisiai.reverse()
print(*vaisiai)

ropė čiliukas rabarbaras morka kokosas vynuogė ananasas apelsinas marakuja bruknė kiwi žemuogė avokadas bananas kriaušė vynuogė obuolys

In [1040]:
print('obuolys' in vaisiai)

True