In [1]:
import pandas as pd
import seaborn as sns

In [3]:
mpg = sns.load_dataset('mpg')
mpg.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [4]:
mpg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [5]:
mpg[mpg['horsepower'].isnull()]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
32,25.0,4,98.0,NaN,2046,19.0,71,usa,ford pinto
126,21.0,6,200.0,NaN,2875,17.0,74,usa,ford maverick
330,40.9,4,85.0,NaN,1835,17.3,80,europe,renault lecar deluxe
336,23.6,4,140.0,NaN,2905,14.3,80,usa,ford mustang cobra
354,34.5,4,100.0,NaN,2320,15.8,81,europe,renault 18i
374,23.0,4,151.0,NaN,3035,20.5,82,usa,amc concord dl

In [6]:
mpg['horsepower'].loc[32] = 75
mpg['horsepower'].loc[126] = 105
mpg['horsepower'].loc[330] = 51
mpg['horsepower'].loc[336] = 120
mpg['horsepower'].loc[354] = 73
mpg['horsepower'].loc[374] = 82

/tmp/ipykernel_415334/3019380189.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mpg['horsepower'].loc[32] = 75
/tmp/ipykernel_415334/3019380189.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mpg['horsepower'].loc[126] = 105
/tmp/ipykernel_415334/3019380189.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mpg['horsepower'].loc[330] = 51
/tmp/ipykernel_415334/3019380189.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mpg['horsepower'].loc[336] = 120
/tmp/ipykernel_415334/3019380189.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mpg['horsepower'].loc[354] = 73
/tmp/ipykernel_415334/3019380189.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mpg['horsepower'].loc[374] = 82

In [7]:
mpg[mpg['horsepower'].isnull()]

Empty DataFrame
Columns: [mpg, cylinders, displacement, horsepower, weight, acceleration, model_year, origin, name]
Index: []

In [8]:
dummies = pd.get_dummies(mpg['origin'])
dummies.head()

   europe  japan   usa
0   False  False  True
1   False  False  True
2   False  False  True
3   False  False  True
4   False  False  True

In [9]:
data = pd.concat([mpg, dummies], axis=1)
data.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,europe,japan,usa
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl,False,False,True
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup,True,False,False
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage,False,False,True
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger,False,False,True
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10,False,False,True

In [10]:
data.drop(['origin', 'name'], axis=1, inplace=True)
data.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,europe,japan,usa
393,27.0,4,140.0,86.0,2790,15.6,82,False,False,True
394,44.0,4,97.0,52.0,2130,24.6,82,True,False,False
395,32.0,4,135.0,84.0,2295,11.6,82,False,False,True
396,28.0,4,120.0,79.0,2625,18.6,82,False,False,True
397,31.0,4,119.0,82.0,2720,19.4,82,False,False,True

In [12]:
data.columns[1:]

Index(['cylinders', 'displacement', 'horsepower', 'weight', 'acceleration',
       'model_year', 'europe', 'japan', 'usa'],
      dtype='object')

In [15]:
query_data = data[data.columns[1:]]
query_data.tail()

,cylinders,displacement,horsepower,weight,acceleration,model_year,europe,japan,usa
393,4,140.0,86.0,2790,15.6,82,False,False,True
394,4,97.0,52.0,2130,24.6,82,True,False,False
395,4,135.0,84.0,2295,11.6,82,False,False,True
396,4,120.0,79.0,2625,18.6,82,False,False,True
397,4,119.0,82.0,2720,19.4,82,False,False,True

In [16]:
answer_data = data['mpg']
answer_data.tail()

393    27.0
394    44.0
395    32.0
396    28.0
397    31.0
Name: mpg, dtype: float64

In [25]:
from sklearn.model_selection import train_test_split
train_queries, test_queries, train_answers, test_answers = \
train_test_split(query_data, answer_data, test_size=0.33, random_state=42)

In [26]:
test_queries

,cylinders,displacement,horsepower,weight,acceleration,model_year,europe,japan,usa
198,4,91.0,53.0,1795,17.4,76,False,True,False
396,4,120.0,79.0,2625,18.6,82,False,False,True
33,6,232.0,100.0,2634,13.0,71,False,False,True
208,8,318.0,150.0,3940,13.2,76,False,False,True
93,8,318.0,150.0,4237,14.5,73,False,False,True
...,...,...,...,...,...,...,...,...,...
392,4,151.0,90.0,2950,17.3,82,False,False,True
379,4,98.0,70.0,2125,17.3,82,False,False,True
358,4,120.0,74.0,2635,18.3,81,False,True,False
310,4,89.0,60.0,1968,18.8,80,False,True,False
145,4,83.0,61.0,2003,19.0,74,False,True,False

In [27]:
from sklearn.linear_model import LinearRegression

In [28]:
linreg = LinearRegression().fit(train_queries, train_answers)
print(linreg)

LinearRegression()

In [29]:
predicted_mpg = linreg.predict(test_queries)
predicted_mpg

array([32.5807764 , 29.11531912, 20.82468337, 16.81042998, 12.53671407,
       26.89224642, 27.46096913,  9.71898846, 17.0760993 , 21.5306433 ,
       12.55239646, 35.97375981, 24.45309969, 13.64179325, 23.33981127,
        6.42582008, 29.07341977, 25.16152699, 16.28333751, 36.13277466,
       24.85161985, 18.54208742, 28.42495262, 28.10143028, 14.80888168,
       35.98685651, 26.59945344, 24.37634664, 21.67995077,  8.83362446,
       27.96549245, 36.05109578, 20.56982898, 25.76405355, 34.06919842,
       11.88189052, 22.51551402, 21.69716135, 12.45688148, 27.88145573,
       25.93878775, 28.4408266 , 21.35409858,  7.28439335, 24.25967981,
       34.75785888, 27.84102343, 25.38400728, 23.61343313, 28.72129644,
       21.97440896, 33.44984508, 32.52325432, 10.88379546, 27.44117061,
        9.91298837, 19.76560359, 29.76634903, 22.4060054 , 20.17165045,
       16.02114488, 31.77642227, 23.4149797 , 21.7584608 , 20.55449373,
       25.16026886, 24.6024376 , 31.80307564, 27.49403129, 12.71202306,
       30.70565278, 13.11896239,  9.85672681, 18.92339604, 27.21765913,
       22.15109046, 20.27957793, 29.10623391, 30.40502891, 20.16702504,
       14.97517832, 24.91450217, 35.82085543, 34.00316903, 25.53471249,
       11.28041811, 32.96955959, 29.96974184, 26.73238607,  8.42173523,
       15.55469805, 30.49136157, 27.72147381, 33.13841535, 25.12481779,
       32.08981995, 29.68968886, 23.31455347, 26.13862352, 12.72990947,
       30.81158772, 25.94482531, 18.91415038, 14.99965122, 19.08675776,
        9.84767461, 27.92153565, 10.73920588, 33.78104019, 35.39211655,
       30.56203182, 27.90300565, 21.25147958, 36.02885032, 26.10124434,
       22.59273958, 26.7269247 , 22.64653577, 32.4744405 , 23.46795532,
       13.26809108, 23.68391642, 20.34279164, 23.17521354, 19.78826234,
       29.20257739, 35.09668209, 27.14260205, 32.11469569, 31.32444861,
       34.69405068, 29.51862401])

In [30]:
s_mpg = pd.Series(data=predicted_mpg, name='predicted_mpg')
s_mpg

0      32.580776
1      29.115319
2      20.824683
3      16.810430
4      12.536714
         ...
127    27.142602
128    32.114696
129    31.324449
130    34.694051
131    29.518624
Name: predicted_mpg, Length: 132, dtype: float64

In [31]:
mpg_comparison = pd.concat([test_answers.reset_index(), s_mpg], axis=1)
mpg_comparison

     index   mpg  predicted_mpg
0      198  33.0      32.580776
1      396  28.0      29.115319
2       33  19.0      20.824683
3      208  13.0      16.810430
4       93  14.0      12.536714
..     ...   ...            ...
127    392  27.0      27.142602
128    379  36.0      32.114696
129    358  31.6      31.324449
130    310  38.1      34.694051
131    145  32.0      29.518624

[132 rows x 3 columns]

In [32]:
linreg.score(test_queries, test_answers)

0.8463742656811795